<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:menubar style="background-color: black">

            <p:submenu label="____" icon="ui-icon-contact" style="color: #660066">
                <p:menuitem value="GF15006" url="#" style="color: black"/>
                <p:menuitem value="González Figueroa Kevin Osmin" url="#" style="color: black"/>

            </p:submenu>


        </p:menubar>
    </cc:implementation>




</html>