<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>


        <h1><h:outputText value="GF15006"/></h1>
        <h:form id="frm">

            <h1><h:outputText value="TipoEstadoReserva"/></h1>

            <p:dataTable id="tbl" value="#{backingBean.lazyModelo}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{backingBean.tipoEstadoReserva_}"
                         sortBy="#{t.idTipoEstadoReserva}"   
                         >
                <f:ajax event="rowSelect" render=":frm2"/>
                <p:ajax event="rowSelect" listener="#{backingBean.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idTipoEstadoReserva}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>
                <p:column headerText="IndicaAprobacion">
                    <h:outputText  value="#{t.indicaAprobacion?'Activo':'Inactivo'}"/>
                </p:column>
                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>
            </p:dataTable>

            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="tipoEstadoReserva" pageOnly="true" />
            </p:commandLink>

        </h:form>

        <h1>Crear/Editar Registro</h1>

        <h:form id="frm2">

            <!--  <p:messages id="messages"/>
            -->

            <p:panelGrid columns="2">
                id<p:inputText value="#{backingBean.tipoEstadoReserva_.idTipoEstadoReserva}" disabled="true"/>
                Nombre <p:inputText id="txtnombre" requiredMessage="Ingrese un Nombre!" required="true" value="#{backingBean.tipoEstadoReserva_.nombre}"/>
                Activo <p:selectBooleanCheckbox value="#{backingBean.tipoEstadoReserva_.activo}"/>
                IndicaAprobacion <p:selectBooleanCheckbox value="#{backingBean.tipoEstadoReserva_.indicaAprobacion}"/>
                Observaciones <p:inputTextarea value="#{backingBean.tipoEstadoReserva_.observaciones}"/>
            </p:panelGrid>

            <p:messages/>


            <p:commandButton  value="Agregar" rendered="#{backingBean.estado=='NONE'}" actionListener="#{backingBean.crear()}" 
                              ajax="true" update="@form :frm" >      
            </p:commandButton>


            <p:commandButton value="Cancelar" actionListener="#{backingBean.btncancelarHandler()}" 
                             immediate="true" resetValues="true" ajax="true" update="@form :frm"  >      

            </p:commandButton>

            <p:commandButton value="Editar"  actionListener="#{backingBean.modificar()}" rendered="#{backingBean.estado!='NONE'}"
                             ajax="true" update="@form :frm" >      

            </p:commandButton>
            <p:commandButton  value="Eliminar"  actionListener="#{backingBean.eliminar()}" rendered="#{backingBean.estado!='NONE'}"
                              ajax="true" update="@form :frm" >      

            </p:commandButton> 







        </h:form>




    </h:body>
</html>

